/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*to-top button */
.to-top{
    background-color: #333333;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
html {
    scroll-behavior: smooth;
}
/* Start: Header */
.header-web {
    width: 100%;
    height: 81px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.55);
    display: flex;
    transition: background-color 0.4s;
}
.header-web.scrolled {
    background-color: rgb(224, 223, 223);
    
}

.logo {
    font-size: 32px;
    line-height: 39px;
    padding: 19px 0 0 148px;;
    font-family: inter;
}

.navigation-list {
    display: inline-block;
    padding-left: 411px;
}

.navigation-list > li {
    display: inline-block;
}

.navigation-list li {
    position: relative;
    margin: 31px 44px 31px 0; 
}

.navigation-list li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #000;
    font-family: inter;
    font-weight: bolder;
}

.navigation-list li a::after {
    content: "";
    position: absolute;
    background-color: #F9BF29;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navigation-list li a:hover::after{
    width: 100%;
}
.navigation-list li:hover a{
    color: #231010;
}

.button {
    font-weight: bolder;
    font-size: 24px;
}

.button.ti-search {
    margin-left: 134px;
    line-height: 81px;
    cursor: pointer;
}

.button.ti-shopping-cart {
    margin-left: 15px;
    line-height: 81px;
    cursor: pointer;
}

.header .button:hover {
    cursor: pointer;
}

/* End: Header */


/* start: Homepage */
.slider{
    width: 100%;
    max-width: 100vw;
    height: 700px;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 100vw;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(28, 27, 27, 0.333);
    color: #fff;
    font-size: 24px;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}



.best-seller {
    max-width: 100%;
    margin: auto;
    overflow: auto;
    position: relative;
}

.best-seller .title {
    margin: 50px 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
}

.best-seller .products {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.best-seller .products .product {
    width: 300px;
    margin: 5px 10px 30px;
    box-sizing: border-box;
}

.best-seller .products .product img {
    width: 100%;
    height: auto;
    justify-content: center;
    object-fit: cover;


}

.best-seller .products .product .desc {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



.information ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 250px;
    align-items: center;
    border-bottom: 3px solid #333;
    border-top: 3px solid #333;
    list-style: none;
}

.information .icon-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 1.4em;

}

.information .icon-container .icon {
    margin-right: 10px;
}

.information .icon-container .text {
    font-family: Arial, Helvetica, sans-serif;
}



.design {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 0 20px;
}

.design .title {
    margin-bottom: 40px;;
    font-size: 2em;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 0.015em;
}

.design .gallery {
    padding: 0;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}

.design .gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/*end: Homepage*/
/* Start: Product page */
.background-img  img {
    width: 100%;
    height: 737px;
}

.lable {
    padding-left: 177px;
    padding-right:178px;
    display: flex;
}

.lable .lable-text {
    font-weight: bold;
    padding: 45px 0 33px 0;
    line-height: 34px;
    color: black;
    font-size: 28px;
}

.lable .lable-source {
    padding: 45px 0 33px 196px;
}

.lable .lable-source > a {
    font-weight: bold;
    line-height: 34px;
    color: black;
    font-size: 28px;
    text-decoration: none;
}
    
.lable-sort-by {
    display: inline-flex;
}

.lable .lable-sort-by {
    padding-top: 45px;
    padding-bottom: 33px;
    padding-left: 406px;
}

.lable-sort-by .lable-sort-by-title > p {
    font-size: 20px;
    color: black;
    line-height: 24px;
    width: 79px;
    padding-top: 5px;
}

.lable-sort-by .ti-angle-down {
    padding-left: 39px;
}

.lable-sort-by > ul {
    list-style-type: none;
    margin: 0;
    background-color: white;
}

.lable-sort-by > ul > li {
    border: 1px solid #555;
    width: 188px;
    height: 38px;
}

.lable-sort-by > ul > li > a {
    display: block;
    font-size: 20px;
    line-height: 38px;
    text-decoration: none;
    padding-left: 12px;
    color: black;
}

.lable-subnav {
    list-style-type: none;
    background-color: #f4f4f4;
    position: absolute;
    width: 188px;
    display: none;
}

.lable-sort-by li:hover .lable-subnav {
    display: block;
}

.lable-subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

.lable-subnav li a{
    display: block;
}

.lable-subnav a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    padding-left: 12px;
}

.product {
    display: flex;
    padding-left: 177px;
}

#product-category {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 318px;
}

#product-category > li {
    border-bottom: 1px solid #555;
}

#product-category > li > a {
    display: block;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    padding-left: 24px;
    color: black;
}

#product-category .ti-angle-down {
    float: right;
    padding-right: 22px;
    line-height: 60px;
}

.product-bed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding-left: 30px;
  }
  
.product-1 {
    text-align: center;
    /* padding: 6px; */
    float: left;
  }
  
.product-img {
    width: 269px;
    height: 175px;
  }
  
.product-intro {
    text-align: center; 
  }

.product-name {
    font-size: 18px;
    line-height: 22px;
    padding: 6px 0 6px, 0;
}

.product-cost {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.vertical-subnav {
    background-color: #f4f4f4;
    list-style-type: none;
    background-color: #f4f4f4;
    position: relative;
    width: 318px;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    display: none;
}

.vertical-subnav > li > a {
    display: block;
}

.vertical-subnav a {
    font-size: 23px;
    color: #000;
    text-decoration: none;
    line-height: 50px;
    padding-left: 60px;
}

#product-category li:hover .vertical-subnav {
    display: block;
}

.vertical-subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

.sample-text {
    font-size: 34px;
    line-height: 39px;
    font-family: Ruluko;
    padding: 79px 0 28px 0;
    text-align: center;
}   

.sample-bedroom {
    display: inline-flex;
}

.sample-img1, .sample-img2,  .sample-img3 {
    width: 33.30%;
    height: 100%;
}
/* End: Product page */

/* Start: Cart page */
#cart-page {
    height: 100%;
    background-color: white;
    margin-bottom: 20px;
}

#cart-page .cart-title{
    font-size: 48px;
    text-align: center;
    padding: 75px 0px;
}

#cart-page .cart-products{
    margin: 0 16%;
}

#cart-page .cart-products .cart-headings{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    font-size: 24px;
    border-bottom-style: solid;
    border-width: 2px;
}

#cart-page .cart-headings .product-detail-heading{
    width: 60%;
}

#cart-page .cart-headings .product-total-headings{
    display: flex;
    flex-direction: row;
}

#cart-page .product-total-headings .product-price-heading,
#cart-page .product-total-headings .product-quantity-heading,
#cart-page .product-total-headings .product-total-heading{
    width: 120px;
    text-align: center;
}

#cart-page .cart-products .cart-product{
    display: flex;
    flex-direction: row;
    padding: 32px 0;
    border-bottom-style: solid;
    border-width: 1px;
}

#cart-page .cart-product .product-detail{
    width: 60%;
    display: flex;
    flex-direction: row;
}

#cart-page .cart-product .product-image{
    height: 80px;
    width: 120px;
    border-radius: 12px;
    margin-right: 20px;
}

#cart-page .cart-product .product-detail button{
    border: none;
    background-color: white;
}

#cart-page .cart-product .product-name{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 12px;
}

#cart-page .cart-product .product-status{
    font-size: 16px;
    text-decoration: underline;
    color: #2c5c42;
}

#cart-page .cart-product .product-total{
    display: flex;
    flex-direction: row;
}

#cart-page .product-total .product-price,
#cart-page .product-total .product-quantity,
#cart-page .product-total .product-total-price{
    width: 120px;
    margin: auto 0px;
    text-align: center;
}

#cart-page .cart-products .cart-sub-total{
    margin-top: 40px;
    margin-left: 60%;
    display: flex;
    flex-direction: row;
}

#cart-page .cart-sub-total .sub-total-title, 
#cart-page .cart-sub-total .sub-total-price{
    display: inline-block;
    flex-direction: row;
    padding-right: 80px;
    padding-bottom: 20px;
    font-weight: 600;
}

#cart-page .cart-sub-total .sub-total-note{
    font-style: italic;
    width: 140px;
    opacity: 0.4;
}
#cart-page .cart-sub-total .check-out-button {
    position: relative;
    display: inline-block;
}
#cart-page .cart-sub-total .check-out-button button{
    
    width: 180px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    background: transparent;
    font-weight: 800;
    border-radius: 25px;
    border: 2px solid #9ccf93;
    cursor: pointer;
    position: relative;
    overflow: hidden ;
    z-index: 0;
}
#cart-page .cart-sub-total .check-out-button button span{
    background: #9ccf93 ;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}
#cart-page .cart-sub-total .check-out-button button:hover span{
    width: 100%;
}
#cart-page .cart-sub-total .check-out-button button:hover {
    border: 2px solid #fff;
}
/* End: Cart page */

/* Start: Billing detail page */
#billing-detail-page {
    height: 100%;
    background-color: white;
    margin-bottom: 20px;
}

#billing-detail-page .billing-detail-title{
    font-size: 48px;
    text-align: center;
    padding: 75px 0px;
}

#billing-detail-page .shipment{
    height: 100%;
    margin: 0 16%;
    display: flex;
}

#billing-detail-page .customer-information{
    width: 50%;
}

#billing-detail-page .customer-information .info-textfield{
    margin-bottom: 20px;
}

#billing-detail-page .customer-information .info-textfield label{
    color: #000;
    opacity: 0.5;
}

#billing-detail-page .customer-information .info-textfield input{
    width: 100%;
    background-color: #f5f5f5;
    height: 32px;
    margin-top: 4px;
}

#billing-detail-page .customer-information .save-info-checkbox{
    height: 40px;
}

#billing-detail-page .customer-information .save-info-checkbox input{
    margin-right: 10px;
}

#billing-detail-page .customer-information .save-info-checkbox label{
    margin: auto 0;
}

#billing-detail-page .shipment-information{
    width: 50%;
    display: inline-block;
    margin-left: 200px;
}

#billing-detail-page .shipment-information .shipment-products{

}

#billing-detail-page .shipment-information .shipment-product{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    /* border-bottom-style: solid;
    border-width: 1px; */
}

#billing-detail-page .shipment-product .shipment-product-image{
    margin-right: 20px;
}

#billing-detail-page .shipment-product .shipment-product-name{
    margin: auto 0;
    width: 60%;
}

#billing-detail-page .shipment-product .shipment-product-price{
    width: 100%;
    text-align: right;
    margin: auto 0;
}

#billing-detail-page .shipment-product .shipment-product-image{
    height: 50px;
    border-radius: 12px;
}

#billing-detail-page .shipment-information .shipment-price{
    
}

#billing-detail-page .shipment-price .shipment-subtotal,
#billing-detail-page .shipment-price .shipment-shipping,
#billing-detail-page .shipment-price .shipment-total{
    display: flex;
    padding: 10px 0;
}

#billing-detail-page .shipment-price .shipment-shipping{
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}

#billing-detail-page .shipment-price .shipment-title{
}

#billing-detail-page .shipment-price .shipment-price{
    width: 100%;
    text-align: right;
}

#billing-detail-page .shipment-information .payment-methods{
    margin-top: 20px;
}

#billing-detail-page .shipment-information .voucher{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

#billing-detail-page .voucher .voucher-input{
    margin-right: 20px;
    border-radius: 12px;
    padding-left: 10px;
    width: 50%;
    font-size: 20px;
}

#billing-detail-page .voucher .voucher-button{
}

#billing-detail-page .voucher .voucher-button button{
    background-color: #93cfa4;
    padding: 8px 20px;
    font-weight: 800;
    border-radius: 12px;
    font-size: 16px;
    width: 100%;
}

#billing-detail-page .place-order-button button,
#billing-detail-page .back-to-cart-button button{
    width: 40%;
    background-color: #93cfa4;
    padding: 10px 16px;
    font-weight: 800;
    border-radius: 12px;
    margin-top: 24px;
}

/* End: Billing detail page */

/* Start: Shop all */
.cate-product {
    padding-left: 141px;
    padding-top: 56px;
}

.cate-prd {
    margin-right: 38px;
    display: inline-block;
    padding-bottom: 46px;
  }
  
.wall-img {
    width: 605px;
    height: 340px;
}

.cate-product-title {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.cate-name {
    font-size: 26px;
    line-height: 56px;
}

.button-shop {
    font-size: 18px;
    line-height: 24px;
    padding: 16px 48px;
    border: 1px solid black;
    border-radius: 1cap;
}

.button-shop:hover {
    cursor: pointer;
    background-color: #FFE3DA;
}
/* End: Shop all */

/* Start: Product detail page */

#product-detail-page .ti-arrow-left {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    padding-left: 100px;
}

#product-detail-page .text-nav {
    display: flex;
}

#product-detail-page .normal-text {
    padding-left: 8px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

#product-detail-page .blur-text {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    opacity: 0.4;
    padding-right: 8px;
    padding-left: 100px;
}

#product-detail-page .image-number {
    display: flex;
    float: right;
    padding-right: 108px;
}

#product-detail-page .big-number {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    padding-right: 5px;
}

#product-detail-page .small-number {
    color: #A2A3B1;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.15px;
    padding-top: 8px;
}

#product-detail-page .move-left-right {
    padding-top: 18px;
    padding-left: 1320px;
}

#product-detail-page .ti-angle-left {
    padding-right: 80px;
}

#product-detail-page .product-name {
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    padding-left: 100px;
}

#product-detail-page .price-rate {
    display: flex;
}

#product-detail-page .product-price {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.15px;
    padding-left: 100px;
    padding-top: 42px;
}

#product-detail-page .product-rate {
    display: flex;
    padding-left: 156px;
    padding-top: 45px;
}

#product-detail-page .rate {
    display: flex;
}

#product-detail-page .number-rate {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 12px;
}

#product-detail-page .yellow-star .ti-star {
    color: rgba(255, 255, 0, 0.919);
}

#product-detail-page .yellow-star {
    padding-top: 3px;
}

#product-detail-page .white-star {
    padding-top: 3px;
    padding-left: 3.5px;
}

#product-detail-page .blur-number-rate {
    color: #A2A3B1;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 6px;
}

#product-detail-page .about-product {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 47px;
    padding-left: 100px;
    padding-bottom: 60px;
}

#product-detail-page .add-minus-button {
    display: flex;
    height: 52px;
    padding: 16px;
    align-items: center;
    gap: 40px;
    margin-left: 100px;
    margin-right: 122px;
    border-radius: 4px;
    border: 1px solid gray;
}

#product-detail-page .ti-plus,
#product-detail-page .ti-minus {
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
}

#product-detail-page .quantity {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.4px;
}

#product-detail-page .ti-plus:hover {
    background-color: wheat;
}

#product-detail-page .ti-minus:hover {
    background-color: wheat;
}

#product-detail-page .quantity-add-product {
    display: flex;
}

#product-detail-page .add-product-button {
    width: 161px;
    height: 52px;
    background-color: #FFF7E4;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

#product-detail-page .add-product-button:hover {
    background-color: #f2c96a;;
}

#product-detail-page .product-notes {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 98px;
    padding-top: 35px;
    padding-bottom: 63px;
}

#product-detail-page .big-image {
    width: 844px;
    height: 461px;
    flex-shrink: 0;
    float: right;
    padding-right: 82px;
    padding-bottom: 40px;
}

#product-detail-page .content-detail-image {
    display: flex;
    padding-left: 98px;
}

#product-detail-page .ti-reload {
    padding-left: 50px;
}

#product-detail-page .ti-reload,
#product-detail-page .ti-heart {
    padding-right: 10px;
    padding-top: 1px;
}

#product-detail-page .ti-reload {
    padding-left: 24px;
}

#product-detail-page .share {
    padding-left: 24px;
}

#product-detail-page .ti-share,
#product-detail-page .ti-pinterest,
#product-detail-page .ti-instagram,
#product-detail-page .ti-twitter {
    padding-left: 12px;
}

#product-detail-page .detail-image {
    padding-left: 75px;
    display: flex;
}

#product-detail-page .first-img {
    width: 100px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 5px;
    padding: 8px;
    padding-top: 25px;
}

#product-detail-page .border-first-img {
    width: 104px;
    height: 104px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #3AA39F;
    background: #FFF;
    align-items: center;
    margin-left: 53px;
}

#product-detail-page .others-img {
    width: 100px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 5px;
    padding: 8px;
    padding-top: 15px;
    padding-bottom: 17px;
}

#product-detail-page .border-others-img {
    width: 104px;
    height: 104px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid grey;
    background: #FFF;
    align-items: center;
    display: flex;
    margin-left: 24px;
}

#product-detail-page .warranty {
    display: flex;
    padding-top: 79px;
}

#product-detail-page .blur-text-wh {
    color: #919191;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-right: 120px;
    padding-left: 98px;
}

#product-detail-page .normal-text-wh {
    color: #17183B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#product-detail-page .highlights {
    display: flex;
    padding-top: 15px;
}

#product-detail-page .details {
    display: flex;
    padding-bottom: 21px;
}

#product-detail-page .ti-control-record {
    width: 22.297px;
    height: 20px;
    flex-shrink: 0;
    padding-top: 2px;
    padding-right: 36px;
}

/* End: Product detail page */

/* Start: About us page */
#about-us-page .about-us-heading {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 75px;
}

#about-us-page .about-us-info {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
}

#about-us-page .about-us-image {
    text-align: center;
}

#about-us-page .abs {
    width: 100%;
    padding-bottom: 15px;
}

#about-us-page .guarantee {
    text-align: center;
    font-size: 45px;
    padding-bottom: 20px;
}

#about-us-page .about-us-number {
    text-align: center;
    display: flex;
    justify-content: center;
}

#about-us-page .experience {
    text-align: center;
    padding-right: 50px;
}

#about-us-page .happy-client {
    text-align: center;
    padding-right: 50px;
}

#about-us-page .product-saled {
    text-align: center;
}

#about-us-page .number {
    font-size: 25px;
    font-family: cursive;
    padding-bottom: 20px;
}

#about-us-page .word {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 50%;
}

#about-us-page .about-us-archive {
    text-align: center;
    display: flex;
    padding-top: 60px;
    justify-content: center;
}

#about-us-page .ti-headphone-alt,
#about-us-page .ti-check,
#about-us-page .ti-truck,
#about-us-page .ti-cup {
    font-size: 50px;
    padding-right: 10px;
}

#about-us-page .archive-word {
    padding-top: 5px;
}
#about-us-page .big-word {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}

#about-us-page .small-word {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 50%;
}

#about-us-page .other-info {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

#about-us-page .introduce {
    text-align: center;
    font-size: 45px;
    padding-bottom: 20px;
    padding-top: 50px;
}

#about-us-page .members2,
#about-us-page .members1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

#about-us-page .members-info {
    padding-left: 29px;
}

#about-us-page .members-image {
    height: 360px;
    width: 394px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#about-us-page .members-name {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

#about-us-page .position {
    font-size: 16px;
    opacity: 50%;
}
/* End: About us page */

/* Star: Sign up Screen */
#sign-up-sreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-img img {
    flex: 1;
    width: 624px;
    height: 351px;
    marGIN: 50px;
}

.sign-up {
    padding: 50px;
    box-sizing: border-box;
}

.sign-up h2 {
    text-align: center;
    font-size: 36px;
}

.sign-up-info {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    padding: 35px 0;
}

.sign-up-info input {
    margin-bottom: 10px;
    padding: 12px;
    text-align: left;
    width: 420px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    border: 0.4px solid rgba(0, 0, 0, 0.1);
    outline: none;
}

.sign-up-button {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

.sign-up-button button {
    margin-bottom: 10px;
    padding: 17px;
    text-align: center;
    width: 420px;
    font-size: 18px;
    border-radius: 9px;
    border: 0.4px solid rgba(0, 0, 0, 0.7);
}

.create-account-button button {
    background-color: #FFE7AD;
}

.sign-up-gg-button button,
.sign-up-fb-button button {
    background-color: #fff;
}

.sign-up-button button:hover {
    border-width: 2px;
}

.login-link {
    display: flex;
    text-align: center;
}

.login-link a {
    padding-left: 10px;
    color: #000;
}

.login-link a:hover {
    color: rgb(103, 103, 255);
}
/* End: Sign up screen */

/* Start: Login screen */
#login-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-img img {
    flex: 1;
    width: 624px;
    height: 351px;
    margin: 50px;
}

.login {
    padding: 50px;
    box-sizing: border-box;
}

.login h2 {
    text-align: center;
    font-size: 36px;
}

.login-info {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    padding: 35px 0;
}

.login-info input {
    margin-bottom: 10px;
    padding: 12px;
    text-align: left;
    width: 420px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    border: 0.4px solid rgba(0, 0, 0, 0.1);
    outline: none;
}

.login-button {
    display: flex;
    align-items: center; 
}

.login-button button {
    margin-bottom: 10px;
    padding: 17px;
    text-align: center;
    width: 190px;
    font-size: 18px;
    border-radius: 9px;
    border: 0.4px solid rgba(0, 0, 0, 0.7);
    background-color: #FFE7AD;
}

.login-button button:hover {
    border-width: 2px;
}

.login-button a {
    margin-left: 117px;
    text-decoration: none;
    color: #000;
}

.sign-up-link {
    display: flex;
    text-align: center;
    justify-content: center;
}

.sign-up-link a {
    padding-left: 10px;
    color: #000;
}

.sign-up-link a:hover {
    color: rgb(103, 103, 255);
}
/* End: Login screen */

/* Start: Wishlist screen */
.wishlist {
    padding-top: 100px;
}

.wishlist-heading,
.wishlist-product {
    width: 80%;
    margin: auto;
}

.wishlist-heading {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 26px;
    color: #9C845C;
    border-bottom-style: solid;
    border-width: 1px;
}

.wishlist-heading .wishlist-product-name {
    margin-left: 291px;
}

.wishlist-heading .wishlis-product-price {
    margin-left: 384px;
}

.wishlist-product {
    display: flex;
    flex-direction: row;
    padding: 60px 0;
    border-bottom-style: solid;
    border-width: 1px;
    align-items: center;
}

.wishlist-product i {
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 32px;
}

.wishlist-product i:hover {
    color: #9C845C;
} 

.wishlist-product img {
    height: auto;
    width: 164px;
    margin: 0 35px 0 0;

}

.wishlist-product {
    font-size: 26px;
    line-height: 26px;
    cursor: default;
}

.wishlish-name-product,
.wistlish-price {
    flex: 1; 
}

.wishlist-product .wishlish-name-product {
    font-weight: bold;
    margin: 0 320px 0 0;
    box-sizing: border-box;
}

.wishlist-product .wishlist-to-cart {
    color: #9C845C;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin-right: 100px;
    flex-shrink: 0;
    cursor: pointer;
}

.wishlist-product .wishlist-to-cart:hover {
    border-bottom: none;
}
/* End: Wishlist screen */

/* Start: Profile screen */
#profile-screen .address-pass,
#profile-screen .info,
#profile-screen .name {
    display: flex;
    gap: 228px;
    justify-content: center;
}

#profile-screen .first-name {
    /* padding-left: 309px; */
}

#profile-screen .profile-title {
    color: #B48400;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding-left: 309px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#profile-screen .input-text {
    border: 0.2px solid #000;
    background: #FFF;
    width: 342px;
    height: 38px;
    opacity: 0.5;
}

#profile-screen .text {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 9px;
}

#profile-screen .email {
    /* padding-left: 309px; */
    padding-top: 40px;
}

#profile-screen .phone-number {
    padding-top: 40px;
}

#profile-screen .address {
    /* padding-left: 309px; */
    padding-top: 40px;
}

#profile-screen .password {
    padding-top: 40px;
}

#profile-screen .button-profile {
    width: 220px;
    height: 56px;
    background-color: #FFF7E4;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

#profile-screen .update-pass {
    padding-top: 46px;
}

#profile-screen .button-update-pass {
    display: flex;
    justify-content: center;
    gap: 54px;
}

#profile-screen .button-profile:hover {
    background-color: #f2c96a;
}

/* End: Profile screen */

/* Start: Edit Profile Screen */
#edit-profile-screen .info,
#edit-profile-screen .name {
    display: flex;
    gap: 228px;
    justify-content: center;
}

#edit-profile-screen .first-name {
    /* padding-left: 309px; */
}

#edit-profile-screen .edit-title {
    color: #B48400;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding-left: 309px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#edit-profile-screen .input-text {
    border: 0.2px solid #000;
    background: #FFF;
    width: 342px;
    height: 38px;
    opacity: 0.5;
}

#edit-profile-screen .text {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 9px;
}

#edit-profile-screen .email {
    /* padding-left: 309px; */
    padding-top: 40px;
}

#edit-profile-screen .phone-number {
    padding-top: 40px;
}

#edit-profile-screen .address {
    padding-left: 304px;
    padding-top: 40px;
}


#edit-profile-screen .button-update {
    width: 220px;
    height: 56px;
    background-color: #FFF7E4;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border: 0.4px solid;
}

#edit-profile-screen .button-cancel {
    width: 220px;
    height: 56px;
    background-color: white;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border: 0.4px solid;
}

#edit-profile-screen .update-cancel {
    padding-top: 46px;
}

#edit-profile-screen .button-update-cancel {
    display: flex;
    justify-content: center;
    gap: 54px;
}

#edit-profile-screen .button-update:hover {
    background-color: #f2c96a;
}
/* End: Edit Profile Screen */

/* Start: Changes Password Screen */
#changes-pass-screen .changes-pass-title {
    color: #B48400;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding-left: 309px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#changes-pass-screen .input-text {
    border: 0.2px solid #000;
    background: #FFF;
    width: 342px;
    height: 38px;
    opacity: 0.5;
}

#changes-pass-screen .password-changes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#changes-pass-screen .password-changes a {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#changes-pass-screen .password-changes a:hover {
    color: #3aa39f;
}

#changes-pass-screen .button-update {
    width: 220px;
    height: 56px;
    background-color: #FFF7E4;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border: 0.4px solid;
}

#changes-pass-screen .button-cancel {
    width: 220px;
    height: 56px;
    background-color: white;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border: 0.4px solid;
}

#changes-pass-screen .update-cancel {
    padding-top: 46px;
}

#changes-pass-screen .button-update-cancel {
    display: flex;
    justify-content: center;
    gap: 54px;
}

#changes-pass-screen .button-update:hover {
    background-color: #f2c96a;
}
/* End: Changes Password Screen */

/* start: forget-password-email screen */
#forget-password-email-screen {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh; 
    transform: translate(-20%, -15%);
    font-family: 'Inter', 'Times New Roman', Times, serif;
}

#forget-password-email-screen .heading{
    font-size: 20px;
    color: #B48400;
    font-weight: 400;
    line-height: 24px;
    transform: translate(-20%, -30%);
}

#forget-password-email-screen .information{
    transform: translate(100%, -10%);

}
  
#forget-password-email-screen .information label {
    display: block;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px; 
}
  
#forget-password-email-screen .information input {
    width: 340px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-weight: 200;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

#forget-password-email-screen .information input:hover {
    background-color: #FFF7E4;
}

#forget-password-email-screen .btn-next {
    width: 80px;
    border-radius: 4px;
    width: 180px;
    height: 50px;
    background-color: #FFF7E4;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border: 0.5px solid #ccc;
    transform: translate(200%, -20%);
    cursor: pointer;
}
/* end: forget-password-email screen*/

/* start: forget password - verification code screen */
#forget-password-verification-screen {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh; 
    transform: translate(-20%, -15%);
    font-family: 'Inter', 'Times New Roman', Times, serif;
}

#forget-password-verification-screen .heading{
    font-size: 20px;
    color: #B48400;
    font-weight: 400;
    line-height: 24px;
    transform: translate(-20%, -30%);
}

#forget-password-verification-screen .information{
    transform: translate(100%, -10%);

}
  
#forget-password-verification-screen .information label {
    display: block;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px; 
    transform: translate(-15%, -10%);

}
  
#forget-password-verification-screen .information input {
    width: 185px;
    height: 30px;
    padding: 8px;
    font-size: 30px;
    font-weight: 200;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    letter-spacing: 10px;
    text-align: center;
}

#forget-password-verification-screen .information input:hover {
    background-color: #FFF7E4;
}

#forget-password-verification-screen .resending-code-text {
    transform: translate(260%, -120%);
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    opacity: 0.7;
}

#forget-password-verification-screen .btn-next {
    width: 80px;
    border-radius: 4px;
    width: 180px;
    height: 50px;
    background-color: #FFF7E4;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border: 0.5px solid #ccc;
    transform: translate(138%, -100%);
    cursor: pointer;
}
/* end: forget-password-verfication screen */


/* start: forget-password-set screen*/
#forget-password-set-screen {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh; 
    transform: translate(-20%, -15%);
    font-family: 'Inter', 'Times New Roman', Times, serif;
}
#forget-password-set-screen .heading{
    font-size: 20px;
    color: #B48400;
    font-weight: 400;
    line-height: 24px;
    transform: translate(-20%, -30%);
}

#forget-password-set-screen .information{
    transform: translate(100%, -10%);

}
  
#forget-password-set-screen .information label {
    display: block;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px; 
}
  
#forget-password-set-screen .information input {
    width: 340px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-weight: 200;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

#forget-password-set-screen .information input:hover {
    background-color: #FFF7E4;
}

#forget-password-set-screen .btn-finish {
    width: 80px;
    border-radius: 4px;
    width: 180px;
    height: 50px;
    background-color: #FFF7E4;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border: 0.5px solid #ccc;
    transform: translate(200%, -20%);
    cursor: pointer;
}
/* end: forget-password-set-screen */


/* start: forget-password-done-screen */
#forget-password-done-screen {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transform: translate(0, -10%);
    height: 100vh; 
    font-family: 'Inter', 'Times New Roman', Times, serif;
}

#forget-password-done-screen .message {
    display: flex;
    justify-content: center;
    align-items: center;
}

#forget-password-done-screen .message p{
    font-size: 32px;
    font-weight: bold;
    margin: auto 15%;
    text-align: center;
    letter-spacing: 0.2px;
}

#forget-password-done-screen .icon{
    font-size: 100px;
    padding: 10px;
    color: #9C845C
}

#forget-password-done-screen .btn-back {
    width: 80px;
    border-radius: 4px;
    width: 180px;
    height: 50px;
    background-color: #FFF7E4;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #000;
    cursor: pointer;

}
/* end: forget-password-done-screen */

/* Start: Product Management Screen */

#products-management-screen {
    display: flex;
}

#products-management-screen .management-menu {
    margin-left: 10%; 
    margin-top: 10vh;
}

#products-management-screen .management-menu ul {
    background-color: #FFF;
    width: 334px;
    list-style-type: none;
}

#products-management-screen .management-menu li {
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 1em;
}

.management-menu a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    line-height: 40px;
    font-weight: 500;
}
.management-menu li:first-child {
    border-top: 1px solid #000;
}

.management-menu li:nth-child(2)  {
    background-color:#FFF0CB;
}

.management-menu li:nth-child(2) a {
    color: #B48400;
}

.management-menu li:hover {
    background-color:#FFF0CB;
}

#products-management-screen .products-main {
    margin-top: 15vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#products-management-screen .products-info input {
    width: 220px;
    height: 22px;
    color: rgba(0, 0, 0, 0.5);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}

#products-management-screen .product-tags {
    opacity: 35%;
    padding-left: 78px;
}

.products-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-info .id,
.products-info .user-name {
    margin-right: 5em;
}

.products-main .products-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-button button {
    background-color: #FFF7E4;
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: 0.4px solid #000;
    border-radius: 7px;
    margin: 3vh;
}

.products-detail .detail-info {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.products-detail .detail-info table, tr, td {
    border: 2px solid #000;
    padding: 5px;
    background-color: #FFF;
}

.products-detail .detail-info thead td {
    font-weight: bold;
    background-color: #f5f5f5;
}

.products-detail .detail-info button {
    border-radius: 5px;
    border: 0.5px solid #000;
}

.products-detail .detail-info .delete-button {
    background-color: #FFF7E4;
}

.products-detail .detail-info .changes-button {
    background-color: #FFF;
}

/* End: Product Management Screen */

/* Start: Product Mangement Details */

#products-management-details {
    display: flex;
}

#products-management-details .management-menu {
    margin-left: 10%; 
    margin-top: 10vh;
}

#products-management-details .management-menu ul {
    background-color: #FFF;
    width: 334px;
    list-style-type: none;
}

#products-management-details .management-menu li {
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0 1em;
}

.management-menu a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    line-height: 40px;
    font-weight: 500;
}
.management-menu li:first-child {
    border-top: 1px solid #000;
}

.management-menu li:nth-child(2)  {
    background-color:#FFF0CB;
}

.management-menu li:nth-child(2) a {
    color: #B48400;
}

.management-menu li:hover {
    background-color:#FFF0CB;
}

/*End: Product Management Details */
/* Start: Footer */
.footer-web {
    width: 100%;
    height: 300px;
    padding: 105px 120px 0 120px;
    background-color: #ffffff;
    position: inherit;
    bottom: 0;
}

.footer-part {
    float: left;
    width: 25%;
}

.footer-part li a {
    font-size: 15px;
    line-height: 22.5px;
    color: #616161;
    text-decoration: none;
}

.footer-part p {
    padding-top: 16px;
    color: #616161;
}

.footer-part li {
    padding-top: 16px;
}

.footer-part ul {
    list-style-type: none;
}

.footer-part.b {
    padding-left: 94px;
}

.footer-part.c {
    padding-left: 42px;
}

.footer-part.d {
    padding-left: 66px;
}

.footer-part.d .ti-check {
    float: right;
    color: #ffffff;
    background-color: #3B5D50;
    width: 48px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.footer-part.d li {
    width: 242px;
    height: 45px;
    border: 1px solid #000;
    padding-top: 0;
}

.footer-part.d  li  a {
    line-height: 45px;
    padding-left: 12px;
}
.footer-part.d ul {
    display: flex;
    padding-top: 16px;
}

.footer-part.d .ti-check:hover {
    cursor: pointer;
}
/* End: Footer */