body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-sm: 14px;

  /* Colors */
  --white: #fff;
  --space-cadet: #17183b;
  --french-grey: #d1d1d8;
  --verdigris: #3aa39f;
  --cool-grey: #a2a3b1;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-9xs: 4px;
}
