/* Start: Product page */
.background-img  img {
    width: 100%;
    height: 737px;
}

.product-wrap {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.product-category p {
    font-size: 28px;
    color: black;
    font-weight: bold;
}

.product-category .product-category-nav li {
    list-style-type: none;
    border-bottom: 1px solid #555;
}

.product-category-nav li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 28px;
    line-height: 50px;
    width: 20rem;
    padding-left: 8%;
}

.product-category-nav {
    margin-top: 1rem;
}

.product-category-nav .ti-angle-down {
    float: right;
    line-height: 50px;
    margin-right: 8%;
}

.product-category-subnav {
    background-color: #f4f4f4;
    position: relative;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    text-align: center;
    display: none;
}

.product-category-subnav li a {
    display: block;
    font-size: 23px;
    line-height: 40px;
}

.product-category-nav li:hover .product-category-subnav {
    display: block;
}

.product-category-subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

.product-category {
    margin-right: 30px;
}

.product-box .product-box-header {
    display: flex;
    justify-content: space-between;
}

.product-box .product-sort-by {
    display: flex;
}

.product-box .product-box-header a {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

.product-box .product-box-header .product-sort-by {
    line-height: 31px;
    font-size: 20px;
}

.product-box-header .product-sort-by select {
    font-size: 16px;
    opacity: 0.8;
}

.product-box .product-box-header {
    margin-bottom: 1rem;
}

.product-box-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product-img {
    width: 269px;
    height: 175px;
}

.product-img:hover {
    transform: scale(0.9);
    transition: transform 0.5s ease-in-out;
}

.product-intro {
    text-align: center; 
  }

.product-name {
    font-size: 18px;
    line-height: 22px;
    padding: 6px 0 6px, 0;
}

.product-cost {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.sample-text {
    font-size: 34px;
    line-height: 39px;
    /* font-family: Ruluko; */
    padding: 90px 0 28px 0;
    text-align: center;
}   

.sample-bedroom {
    display: inline-flex;
}

.sample-img1, .sample-img2,  .sample-img3 {
    width: 33.30%;
    height: 100%;
}

/* End: Product page */